<div ng-init="populate()">
    <p class="error">{{error}}</p>
    <p>{{loadingMessage}}</p>
    <div class="panel">
        <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>ObjectId</th>
                    <th>UPN</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="user in users.value">
                    <td>
                        <p>{{user.displayName}}</p>
                    </td>
                    <td>
                        {{user.objectId}}
                    </td>
                    <td>
                        {{user.userPrincipalName}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>